<div class="flex">
  <div class="tasks">
    <h1>Tasks</h1>

    <h2>Add new</h2>
    <%= form_for(Task.new) do |f| %>
      <div>
        <%= f.label :name %>
        <div><%= f.text_field :name %></div>
      </div>

      <div>
        <%= f.label :description %>
        <div><%= f.text_area :description, rows: 4, cols: 40 %></div>
      </div>

      <%= f.submit %>
    <% end %>

    <ul>
      <% Task.all.each do |task| %>
        <li>
          <%= link_to(task.name, task) %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="goals">
    <h1>Goals</h1>

    <div class="goals-inner">
      <% Goal.all.each do |goal| %>
        <div class="goal">
          <%= render goal.task, {locals: {feature: true}} %>
          <h3>Next Steps</h3>
          <%= render goal.task.next_tasks %>
        </div>
      <% end %>
    </div>
  </div>
</div>
