<div class="flex">
  <div class="tasks">
    <h1>Tasks</h1>

    <h2>Add new</h2>
    <%= form_for(Task.new) do |f| %>
      <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div>
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>

      <%= f.submit %>
    <% end %>

    <ul>
      <% Task.all.each do |task| %>
        <li>
          <%= link_to(task.name, task) %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="goals">
    <h1>Goals</h1>

    <ul>
      <% Goal.all.each do |goal| %>
        <div>
          <%= render goal.task %>
          <h3>Next Steps</h3>
          <%= render goal.task.next_tasks %>
        </div>
      <% end %>
    </ul>
  </div>
</div>
