<%= link_to 'Back to tasks list', tasks_path %>

<%= render task %>

<h2>Dependencies</h2>

<div>Add new dependency</div>
<div><input id="search"></input></div>
<div id="results"></div>

<script type="text/javascript">

const resolved_task_id = <%= task.id %>;

window.search.addEventListener('input', debounced(function (ev) {
  if (window.search.value === '') {
    window.results.innerHTML = '';
    return
  };

  const request = fetchingHTML('/tasks/search?q=' + window.search.value);

  // TODO - fix this shit
  request.then(response => response.json()).then(function(results) {
    window.results.innerHTML = '';

    results.forEach(function (result) {
      const div = document.createElement('div');
      const task = document.createElement('task');
      const button = document.createElement('button');

      button.innerHTML = 'Add as dependency';

      task.innerHTML = result.html;
      div.appendChild(task);
      div.appendChild(button);

      button.addEventListener('click', function () {
        const form = document.createElement('form');

        const request = fetching("/dependencies", {
          method: "POST",
          body: JSON.stringify({
            dependency: {
              resolved_task_id,
              dependent_task_id: JSON.parse(result.json).id
            }
          })
        });

        request.then(() => location.reload());
      });

      window.results.appendChild(div);
    });
  });
}, 150));
</script>

<%= render task.dependency_tasks.order(:completed) %>

<h2>Dependents</h2>

<%= render task.dependent_tasks %>
