<div class="project-show">
  <div class="controls">
  <h1><%= project.name %></h1>
    <h2>Goals</h2>

    <h3>Add new goal</h2>
    <%= form_for([ project, Goal.new ]) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.submit %>
    <% end %>

    <h2>Add new Task</h2>
    <%= form_for(Task.new) do |f| %>
      <div>
        <%= f.label :name %>
        <div><%= f.text_field :name %></div>
      </div>

      <div>
        <%= f.label :description %>
        <div><%= f.text_area :description, rows: 4, cols: 40 %></div>
      </div>

      <%= f.submit %>
    <% end %>
  </div>

  <div class="goals-inner">
    <%= render project.goals %>
  </div>
</div>
