<!DOCTYPE html>
<html>
  <head>
    <title>Lodestar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <span><b><%= link_to_unless_current("Lodestar", root_path) %></b></span>

      <% if notice.present? %>
        <span class="notice"><%= notice %></span>
      <% end %>

      <% if alert.present? %>
        <span class="alert"><%= alert %></span>
      <% end %>

      <span>
        <% if signed_in? %>
          <%= current_user.email %> | <%= link_to("Logout", destroy_session_path(current_user), method: :DELETE) %>
        <% end %>
      </span>
    </header>

    <%= yield %>
  </body>
</html>
